<h1>Screen Input</h1>
<div>
  <div>
    <strong>Input Screen</strong>
  </div>
  <ng-input-screen #ngis1></ng-input-screen> value: {{ ngis1.value }}
</div>
<br>
<div>
  <div>
    <strong>Input Screen (value provided)</strong>
  </div>
  <ng-input-screen #ngis2 value="hello, world"></ng-input-screen> value: {{ ngis2.value }}
</div>
<br>
<div>
  <div>
    <strong>Input Screen (value provided)</strong>
  </div>
  <ng-input-screen #ngis3 screenCharacter="🚀" value="Rocket"></ng-input-screen> value: {{ ngis3.value }}

</div>
